{% extends 'base.html' %}
{% load static %}
{% load produtos_filters %}

{% block head %}
<link rel="stylesheet" href="{% static 'home.css' %}"/>
{% endblock %}

{% block main %}
<main class="cor-secundaria mt-5 pt-4">
    <section class="px-3">
        {% for categoria in categorias %}
        <h2>{{ categoria.titulo }}</h2>
        <div id="carousel-{{ categoria.titulo }}" class="carousel slide my-3" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for produtos in produtos_categorias|getvalues:categoria %}

                {% if produtos == produtos_categorias|firstvalues:categoria %}
                <div class="carousel-item active">

                {% else %}
                <div class="carousel-item">
                {% endif %}
                    <div class="container">
                        <div class="row">
                            {% for produto in produtos%}
                            <div class="col d-flex justify-content-center">
                                <div>
                                    <a href="{% url 'pagina_produto' produto.id %}"><img src="{% static produto.imagem.path %}" width="250px" height="166px"/></a>
                                    <p>{{ produto.titulo }}</p>
                                </div>  
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button style="width: 50px;" class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ categoria.titulo }}" data-bs-slide="prev">
              <span style="background-color: gray; border-radius: 50%;" class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button style="width: 50px;" class="carousel-control-next" type="button" data-bs-target="#carousel-{{ categoria.titulo }}" data-bs-slide="next">
              <span style="background-color: gray; border-radius: 50%;" class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        {% endfor %}
    </section>
</main>
{% endblock %}