{% extends 'base.html' %}
{% load static %}
{% load produtos_filters %}

{% block head %}
<link rel="stylesheet" href="{% static 'home.css' %}"/>
{% endblock %}

{% block main %}
<section class="cor-secundaria p-3">
    {% for categoria in categorias %}
    {% if produtos_categorias|get_values:categoria %}
    <h2>{{ categoria.titulo }}</h2>
    <div id="carousel-{{ categoria.titulo|lower }}" class="carousel slide my-3" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for produtos in produtos_categorias|get_values:categoria %}
            {% if produtos == produtos_categorias|first_value:categoria %}
            <div class="carousel-item active">

            {% else %}
            <div class="carousel-item">

            {% endif %}
                <div class="container">
                    <div class="row">
                        {% for produto in produtos%}
                        <div class="col d-flex justify-content-center">
                            <div>
                                <a href="{% url 'pagina_produto' produto.id %}"><img src="{% static produto.imagem.path %}" width="250px" height="166px"/></a>
                                <p class="mb-1">{{ produto.titulo }}</p>
                                <h5 class="cor-dinheiro">R$ {{produto.preco }}</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev carousel-controller" type="button" data-bs-target="#carousel-{{ categoria.titulo|lower }}" data-bs-slide="prev">
          <span class="carousel-control-prev-icon carousel-controller-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next carousel-controller" type="button" data-bs-target="#carousel-{{ categoria.titulo|lower }}" data-bs-slide="next">
          <span class="carousel-control-next-icon carousel-controller-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% endif %}
    {% endfor %}
</section>
{% endblock %}