{% extends 'base.html' %}
{% load static %}
{% load carrinho_filters %}

{% block main %}
<section class="p-3">
    {% if carrinho_compra %}
    <h1 class="text-center mb-5 cor-destaque">Carrinho de compras</h1>

    <div class="row">
        <div class="col">
            <h2 class="text-center cor-destaque">Produtos</h2>
            {% for produto in carrinho_compra %}
            <div class="row justify-content-center py-4">
                <div class="col-auto d-flex justify-content-center">
                    <a href="{% url 'pagina_produto' produto.id %}"><img src="{% static produto.imagem.path %}" alt="Imagem de um(a) {{ produto.titulo|lower }}" width="250px" height="200px"/></a>
                </div>
                <div class="col-sm-3 d-flex justify-content-center">
                    <div class="container-detalhes">
                        <p class="mb-1">{{ produto.titulo }}</p>
                        <h5 class="cor-dinheiro">R$ {{produto.preco }}</h5>
                        <p class="d-inline">Quantidade:</p>
                        <select id="{{ produto.id }}">
                            {% for numero in produto.estoque|range_estoque %}
                            {% if numero == produto|get_quantidade:quantidades %}
                            <option value="{{ numero }}" selected>{{ numero }}</option>

                            {% else %}
                            <option value="{{ numero }}">{{ numero }}</option>

                            {% endif %}
                            {% endfor%}
                        </select>   
                    </div>
                </div>
            </div>
            {% if produto != carrinho_compra|last %}
            <div class="d-flex justify-content-center">
                <hr width="500px"/> 
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div>
                <h2 class="cor-destaque">Subtotal</h2>
                <h4 class="cor-dinheiro">R$ {{ subtotal }}</h4>
                <a class="btn btn-outline-secondary my-2" href="{% url 'finalizar_pedido' %}">Finalizar o pedido</a> 
            </div>
        </div>
    </div>

    {% else %}
    <h1 class="text-center cor-destaque">Não há nenhum produto no carrinho</h1>

    {% endif %}
</section>
{% endblock %}

{% block footer %}
<script src="{% static 'alterar_carrinho.js' %}"></script>
{% endblock %}