.slider-sizo {
    width: 1000px;
    height: 200px;
}

.margem {
    margin-left: 100px;
    margin-right: 100px;
}

.carousel-controller {
    width: 10%;
    height: 100%;
}

.carousel-controller-icon {
    background-color: gray;
    border-radius: 50%;
}