{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link href="{% static 'core.css' %}" rel="stylesheet"/>
{% endblock %}

{% block main %}
<section class="p-3">
  {% if produtos %}
  <h1 class="text-center">Resultados para <span class="cor-destaque">{{ busca }}</span></h1>
  {% for produto in produtos %}
  <div class="container">
    <div class="row justify-content-center py-4">
      <div class="col-auto d-flex justify-content-center px-0">
        <a href="{% url 'pagina_produto' produto.id %}"
          ><img
            src="{% static produto.imagem.path %}"
            alt="Imagem de um(a) {{ produto.titulo|lower }}"
            width="250"
            height="200"
        /></a>
      </div>
      <div class="col-sm-2 d-flex justify-content-center">
        <div class="container-detalhes">
          <p class="cor-categoria mb-0">{{ produto.categoria.titulo }}</p>
          <p class="mb-1">{{ produto.titulo }}</p>
          <h5 class="cor-dinheiro">R$ {{produto.preco }}</h5>
        </div>
      </div>
    </div>
    {% if produto != produtos|last %}
    <hr class="produto-hr"/>
    {% endif %}
  </div>
  {% endfor %} 
  {% else %}
  <h1 class="text-center cor-destaque">Nenhum produto encontrado</h1>

  {% endif %}
</section>
{% endblock %}
