{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'botao_form.css' %}" />
{% endblock %} 

{% block main %}
<section class="p-5 d-flex justify-content-center">
  <div class="p-3">
    <h1 class="cor-destaque">Login</h1>
    <hr class="mb-4" />
    <div class="d-flex justify-content-start">
      <form action="." method="POST">
        {% csrf_token %} 
        {{ form.as_p }}
        <button class="btn btn-outline-secondary botao-form" type="submit">Entrar</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
