.cor-primaria {
    background-color: white;
}

.cor-secundaria {
    background-color: #45CBF3;
}

.cor-footer {
    background-color: #373c41;
}

.cor-dinheiro {
    color: green;
}

.cor-categoria {
    color: gray;
}

.cor-destaque {
    color:royalblue;
}

.tamanho-pagina {
    min-height: 600px;
}

.input {
    width: 14em;
}

.gambiarra {
    width: 330px;
}

.numero-carrinho {
    position: relative;
    right: 10px;
    top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100%;
    background-color: greenyellow;
    color: gray;

}

.opacidade:hover {
    opacity: 50%;
}