.cor-primaria {
    background-color: white;
}

.cor-secundaria {
    background-color: royalblue;
}

.cor-footer {
    background-color: #373c41;
}

.cor-dinheiro {
    color: green;
}

.cor-categoria {
    color: gray;
}

.cor-destaque {
    color:royalblue;
}

.input {
    width: 14em;
}

.gambiarra {
    width: 330px;
}

.numero-carrinho {
    position: relative;
    right: 10px;
    top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100%;
    background-color: greenyellow;
    color: gray;

}

.opacidade:hover {
    opacity: 50%;
}

body {
    height: 100vh;
}

main {
    min-height: 90%;
}

footer {
    min-height: 10%;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
}