.cor-primaria {
    background-color: #45CBF3;
}

.cor-secundaria {
    background-color: #f8f9fa;
}

.input {
    width: 14em;
}

.gambiarra {
    width: 220px;
}

.numero-carrinho {
    position: relative;
    right: 20px;
    top: 10px;

    padding-left: 5px;
    padding-right: 5px;
    
    border-radius: 100%;

    background-color: greenyellow;
    color: gray;
    
}