.botao-carrinho {
  border: 1px solid #3972be;
  background-color: none;
  color: #3972be;
}

.botao-carrinho:hover {
  background-color: #3972be;
  color: white;
}

.botao-lista {
  border: 1px solid #efad00;
  background-color: none;
  color: #efad00;
}

.botao-lista:hover {
  background-color: #efad00;
  color: white;
}

.botao-busca {
  border: 1px solid green;
  border-radius: 0%;
  background-color: none;
  color: green;
}

.botao-busca:hover {
  background-color: green;
  color: white;
}

.botao-form {
  width: 100%;
}
