<!DOCTYPE html>
<html lang="pt-BR">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hortifrúti</title>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'base.css' %}" rel="stylesheet" />
    <link href="{% static 'botoes.css' %}" rel="stylesheet" />
    <link href="{% static 'container_detalhes.css' %}" rel="stylesheet" />

    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      {% include 'navbar.html' %}
    </header>

    <main id="main" class="cor-primaria mt-5 pt-4">
      {% for message in messages %}
      <div class="mx-4 my-0 alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <li>{{ message|cut:'['|cut:']'|cut:"'" }}</li>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %} 

      {% block main %} 
      {% endblock %}
    </main>

    <footer class="cor-footer p-3">
      {% include 'footer_navbar.html' %}
      <script src="{% static 'busca.js' %}"></script>
      {% block footer %} 
      {% endblock %}
    </footer>
  </body>
</html>
