<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mercado</title>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"/>

        <link href="{% static 'base.css' %}" rel="stylesheet"/>

        {% block head %}
        {% endblock %}
    </head>
    <body class="cor-primaria">
        <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="navbar-nav">
                            <li>
                                <a class="nav-link" href="{% url 'home' %}" role="button">Home</a>
                            </li>
                            {% if request.user.is_authenticated %}
                            <li>
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" type="button" id="dropdown-conta" data-bs-toggle="dropdown" aria-expanded="false">Minha conta</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown-conta">
                                      <li><a class="dropdown-item" href="{% url 'pedidos' %}">Pedidos</a></li>
                                      <li><a class="dropdown-item" href="{% url 'lista_desejos' %}">Lista de desejos</a></li>
                                      <li><a class="dropdown-item" href="{% url 'alterar_senha' %}">Alterar a senha</a></li>
                                      <li><a class="dropdown-item" href="{% url 'logout' %}" role="button">Sair</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="nav-link d-inline-block" href="{% url 'carrinho' %}">
                                    <img src="{% static 'shopping_cart2.png' %}" alt="Imagem de um carrinho de compras" width="40px" height="28px">
                                    {% if numero_produtos_carrinho %}
                                    <span class="numero-carrinho">{{ numero_produtos_carrinho }}</span>
                                    {% endif %}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                        <ul class="navbar-nav mx-auto">
                            <li class="my-2">
                                <form id="motor-busca" class="d-flex" action="{% url 'busca' ' ' %}" method="POST"> {% csrf_token %}
                                    <input id="busca-usuario" class="input" type="search" placeholder="Procurar por um produto" maxlength="20" name="busca"/>
                                    <input onclick="Busca()" type="submit"/>
                                </form>
                            </li>
                        </ul>

                        {% if request.user.is_authenticated %}
                        <div class="gambiarra"></div>

                        {% else %}
                        <ul class="navbar-nav">
                            <li>
                                <a class="nav-link" href="{% url 'registrar' %}" role="button">Registrar</a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'login' %}" role="button">Login</a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>

        <main id="main" class="cor-secundaria tamanho-pagina mt-5 pt-4">
            {% for message in messages %}
            <div class="mx-4 my-0 alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <li>{{ message|cut:'['|cut:']'|cut:"'" }} </li>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}

            {% block main %}
            {% endblock %}
        </main>

        <footer>
            <script src="{% static 'alterar_cor_main.js' %}"></script>
            <script src="{% static 'busca.js' %}"></script>
        </footer>
    </body>
</html>