{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark px-3">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbar-menu"
    aria-controls="navbar-menu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbar-menu" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" href="{% url 'home' %}" role="button">Home</a>
      </li>
      {% if request.user.is_authenticated %}
      <li>
        <div class="dropdown">
          <a
            class="nav-link dropdown-toggle"
            type="button"
            id="dropdown-conta"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Minha conta</a
          >
          <ul class="dropdown-menu" aria-labelledby="dropdown-conta">
            <li><a class="dropdown-item" href="{% url 'pedidos' %}">Pedidos</a></li>
            <li><a class="dropdown-item" href="{% url 'lista_desejos' %}">Lista de desejos</a></li>
            <li><a class="dropdown-item" href="{% url 'alterar_senha' %}">Alterar a senha</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}" role="button">Sair</a></li>
          </ul>
        </div>
      </li>
      {% endif %}

      <li>
        <div class="dropdown">
          <a
            class="nav-link dropdown-toggle"
            type="button"
            id="dropdown-categorias"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Categorias</a
          >
          <ul class="dropdown-menu" aria-labelledby="dropdown-categorias">
            {% for categoria in categorias %}
            <li>
              <a class="dropdown-item" href="{% url 'categorias' categoria.titulo|lower %}"
                >{{ categoria.titulo }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
      </li>

      {% if request.user.is_authenticated %}
      <li>
        <a class="nav-link nav-carrinho d-inline-block" href="{% url 'carrinho' %}">
          <img
            src="{% static 'shopping_cart.png' %}"
            alt="Imagem de um carrinho de compras"
            width="40"
            height="28"
          />
          {% if numero_produtos_carrinho %}
          <span class="numero-carrinho">{{ numero_produtos_carrinho }}</span>
          {% endif %}
        </a>
      </li>
      {% endif %}
    </ul>
    <form id="motor-busca" class="d-flex mx-auto my-2" action="{% url 'busca' ' ' %}" method="GET">
      <input
        id="busca-usuario"
        class="input"
        type="search"
        placeholder="Procurar por um produto..."
        maxlength="20"
        name="busca"
      />
      <button id="botao-busca" class="btn botao-busca rounded-end btn-sm" type="submit">Buscar</button>
    </form>

    {% if request.user.is_authenticated %}
    <div class="placeholder"></div>

    {% else %}
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" href="{% url 'registrar' %}" role="button">Registrar</a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'login' %}" role="button">Login</a>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>