{% extends 'base.html' %}
{% load static %}

{% block main %}
<section class="p-3">
    {% if carrinho_compra %}
    <h1 class="text-center">Carrinho de compras</h1>

    {% for produto in carrinho_compra %}
    <div class="container">
        <div class="row justify-content-center py-4">
            <div class="col-auto d-flex justify-content-center px-0">
                <a href="{% url 'pagina_produto' produto.id %}"><img src="{% static produto.imagem.path %}" width="250px" height="166px"/></a>
            </div>
            <div class="col-sm-2 d-flex justify-content-start">
                <div>
                    <h5 class="cor-dinheiro">R$ {{produto.preco }}</h5>
                    <p>{{ produto.titulo }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% else %}
    <h1 class="text-center">Não há nenhum produto no carrinho</h1>

    {% endif %}
</section>
{% endblock %}