{% extends 'base.html' %}
{% load static %}

{% block main %}
<section class="p-3">
    {% if produtos %}
    <h1 class="text-center cor-destaque">{{ categoria.titulo }}</h1>
    {% for produto in produtos%}
    <div class="container">
        <div class="row justify-content-center py-4">
            <div class="col-auto d-flex justify-content-center px-0">
                <a href="{% url 'pagina_produto' produto.id %}"><img src="{% static produto.imagem.path %}" width="250px" height="200px"/></a>
            </div>
            <div class="col-sm-2">
                <div>
                    <p class="cor-categoria mb-0">{{ produto.id_categoria.titulo }}</p>
                    <p class="mb-1">{{ produto.titulo }}</p>
                    <h5 class="cor-dinheiro">R$ {{produto.preco }}</h5>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% else %}
    <h1 class="text-center cor-destaque">Nenhum produto encontrado</h1>

    {% endif %}
</section>
{% endblock %}