{% extends 'base.html' %}
{% load static %}
{% load produtos_filters %}

{% block head %}
<link rel="stylesheet" href="{% static 'bordas.css' %}"/>
{% endblock %}

{% block main %}
<section class="p-3">
    {% if pedidos %}
    <h1 class="text-center cor-destaque">Pedidos</h1>

    {% for pedido in pedidos %}
    <div class="px-2 py-1 my-3 container borda-pequena">
        <div class="row">
            <div class="col d-flex justify-content-start">
                Nº do pedido: {{pedido.id}}
            </div>
            <div class="col d-flex justify-content-end">
                Data: {{pedido.data_pedido|date:"d/m/Y"}}
            </div>
        </div>
        <div class="d-flex justify-content-center my-3">
            <img src="{% static produto_pedidos|get_image:pedido.id %}" alt="Imagem do primeiro produto do pedido" width="250px" height="200px"/>
        </div>
        <a class="d-flex justify-content-center" href="{% url 'pagina_pedido' pedido.id %}">Visualizar pedido</a>
    </div>
    {% endfor %}

    {% else %}
    <h1 class="text-center cor-destaque">Você ainda não possui nenhum pedido</h1>

    {% endif %}
</section>
{% endblock %}